/.idea
/node_modules
/vendor
/upload
/public/js
/public/css
/public/storage
/public/storage
/public/service-worker.js
/public/mix-manifest.json
/.vscode
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
