$primaryColor: #138968;
$primaryTransparent: #13876678;
$secondaryColor: #E1F4EF;

$textPrimary: #273444;
$textSecondary: #48ABDE;
$textDanger: #EA3C40;
$textDisabled: #B3B3B3;
$textLight: #FFFFFF;

$bgSuccess: #48ABDE;
$bgDanger: #DE4848;
$bgWarning: #FE9345;
$bgLightGreen: #2EAF8B;
$bgLight: #FFFFFF;